* {
    box-sizing: boder-box;
    a {
      text-decoration: none;
      color: black;
      :hover {
      cursor: pointer;
      :visited {
        color: black;
       }
      }
    }
}

        /* -------------------Variables and Mixings-------------------*/

$primary_color: #9356DC;
$seconday_color: #ff79da;
$tertiary_color:#99E2d0;

$title_font: Shrikhand;
$main_font: Roboto;

@mixin logo {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 39%;
  max-width: 90%;
  max-height: 200px;
  justify-content: center;
}

@mixin logosize {
  width: 90%;
  max-width: 100%;
  max-height: 70px;
  padding: 10px;
  justify-self: center;
}

@mixin logosize2 {
  width: 50%;
  max-width: 60%;
  min-width: 40%;
  justify-self: center;
}

@mixin margin {
  margin-left: auto;
  margin-right: auto;
}

@mixin img_size {
  object-fit: cover;
  width: 100%;
  max-width: auto;
  min-width: 191px;
  height: 120px;
  max-height: auto;
}


          /*----------------- Phone Resolution ------------------*/ 

@media all and (max-width: 768px) {
  body {
    max-width: 768px;
    @include margin;
  }

  .logo {
    @include logo;
    @include margin;
    #logoimg {
      @include logosize;
      justify-self: center;
    }
  }

  .lOC {
    background-color: lightgray;
    line-height: 40px;
    text-align: center;
    max-width: 90%;
    width: 60%;
    min-width: 200px;
    font-family: $main_font;
    font-size: 11px;
    border: 2px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include margin;
    > i {
      letter-spacing: 5px;
    }
  }
  #nav {
      font-family: $main_font;
      font-size: 11px;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-align: center;
      max-width: 90%;
      width: 60%;
      min-width: 200px;
      max-height: 200px;
      border: 2px solid #f2f2f2;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      @include margin;
  
      >:nth-child(1), :nth-child(3) {
        line-height: 35px;
        padding: 15px;
      &:nth-child(1) {
        font-size: 13px;
      }
     }
    }

    #exbtn {
      text-decoration: none;
      color: white;
      display: inline-block;
      border: 2px solid $primary_color;
      background-color: $primary_color;
      border-radius: 20px;
      width: 70%;
      height: 50%;
      }

  #hIW {
    @include margin;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    font-family: $main_font;
    width: 50%;
    max-width: 90%;
    min-width: 200px;
    max-height: auto;
    padding-top: 20px;
    list-style: numeric;
    font-size: 11px;
    line-height: 250%;
    text-decoration: none;
    padding-bottom: 20px;
      h {
      font-size: 13px;
      }
      li {
      font-size: 10px;
      text-decoration: none;
      border: 2px solid inherit;
      border-radius: 13px;
      padding: 3px;
      background-color: #f2f2f2;
      list-style-type: decimal;
      list-style-position: outside;
      & i {
        letter-spacing: 10px;
        text-align: start;
        color: $primary_color;
      }
    }
  }

  
  .rest {
  @include margin;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  max-width: auto;
  min-width: 221px;
  height: auto;
  max-height: 60%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 10px;
  font-family: $main_font;
  background-color: #f2f2f2;
  margin-bottom: 40px;
  header {
    font-size: 13px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .rest__link {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 90%;
    max-width: auto;
    min-width: 191px;
    height: auto;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    .rest__img {
     @include img_size;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    }
    :nth-child(2) {
      display: inline-block;
      width: 75%;
    }
    i {
      display: inline-block;
      padding-bottom: 10px;
      justify-self: center;
    }
    & span {
      padding-left: 10px;
    }
  }
  }

  #footer {
    @include margin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: 60%;
    max-width: auto; 
    height: auto;
    background-color: #202020;
    color: white;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    font-size: 12px;
    font-family: $main_font;
    .footer__link {
      width: 100%;
      max-width: 100%;
      height: auto;
      font-family: $main_font;
      font-size: 10px;
    }
    .footer__logo {
      font-family: $title_font;
      font-size: 14px;
    }
  }

                          /* Phone resolution restaurant pages*/ 
  header{
    @include margin;
    display: flex;
    width: 50%;
    max-width: 100%;
    min-width: 200px;
    #logoimg{
      @include logosize2;
      @include margin;
      padding-bottom: 10px;
    }
    i {
      line-height: 20px;
      font-size: 13px;
    }
  }
  
  .eres {
    @include margin;
    width: 60%;
    max-width: 90%;
    height: auto;
    .eres__img {
      @include img_size;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
   }
  }

  .reMenu {
    @include margin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    width: 60%;
    max-width: 90%;
    height: auto;
    font-size: 12px;
    font-family: $main_font;
    background-color: #f2f2f2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    header {
      width: 85%;
      max-width: 100%;
      padding: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      .resName {
        font-family: $title_font;
        text-align: start;
        font-size: 18px;
      }
      i {
        margin-left: auto;
        font-size: 18px;
        }
      }
      }
      .reMenu__eMD {
        @include margin;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 85%;
        height: auto;
        .reMenu__items {
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          flex-direction: column;
          width: 100%;
          max-width: 100%;
          height: 45px;
          border: 2px solid white;
          background-color: white;
          border-radius: 15px;
        }
    .reMenu__obtn {
      @include margin;
      display: blocks;
      padding: 10px;
      border: 2px solid inherit;
      width: 60%;
      max-width: 100%;
      height: 100%;
      background-color: $seconday_color;
      text-align: center;
    }
  }
}

