* {
  box-sizing: boder-box;
}
* a {
  text-decoration: none;
  color: black;
}
* a :hover {
  cursor: pointer;
}
* a :hover :visited {
  color: black;
}

/* -------------------Variables and Mixings-------------------*/
/*----------------- Phone Resolution ------------------*/
@media all and (max-width: 768px) {
  body {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 39%;
    max-width: 90%;
    max-height: 200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .logo #logoimg {
    width: 90%;
    max-width: 100%;
    max-height: 70px;
    padding: 10px;
    justify-self: center;
    justify-self: center;
  }

  .lOC {
    background-color: lightgray;
    line-height: 40px;
    text-align: center;
    max-width: 90%;
    width: 60%;
    min-width: 200px;
    font-family: Roboto;
    font-size: 11px;
    border: 2px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .lOC > i {
    letter-spacing: 5px;
  }

  #nav {
    font-family: Roboto;
    font-size: 11px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    max-width: 90%;
    width: 60%;
    min-width: 200px;
    max-height: 200px;
    border: 2px solid #f2f2f2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  #nav > :nth-child(1), #nav :nth-child(3) {
    line-height: 35px;
    padding: 15px;
  }
  #nav > :nth-child(1):nth-child(1), #nav :nth-child(3):nth-child(1) {
    font-size: 13px;
  }

  #exbtn {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 2px solid #9356DC;
    background-color: #9356DC;
    border-radius: 20px;
    width: 70%;
    height: 50%;
  }

  #hIW {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    font-family: Roboto;
    width: 50%;
    max-width: 90%;
    min-width: 200px;
    max-height: auto;
    padding-top: 20px;
    list-style: numeric;
    font-size: 11px;
    line-height: 250%;
    text-decoration: none;
    padding-bottom: 20px;
  }
  #hIW h {
    font-size: 13px;
  }
  #hIW li {
    font-size: 10px;
    text-decoration: none;
    border: 2px solid in;
    border-radius: 13px;
    padding: 3px;
    background-color: #f2f2f2;
  }
  #hIW li i {
    letter-spacing: 10px;
    text-align: start;
    color: #9356DC;
  }

  .rest {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    max-width: auto;
    min-width: 221px;
    height: auto;
    max-height: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 10px;
    font-family: Roboto;
    background-color: #f2f2f2;
    margin-bottom: 40px;
  }
  .rest header {
    font-size: 13px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .rest .rest__link {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 90%;
    max-width: auto;
    min-width: 191px;
    height: auto;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  .rest .rest__link .rest__img {
    width: 100%;
    max-width: auto;
    min-width: 191px;
    height: 100px;
    max-height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .rest .rest__link :nth-child(2) {
    display: inline-block;
    width: 75%;
  }
  .rest .rest__link i {
    display: inline-block;
    padding-bottom: 10px;
    justify-self: center;
  }
  .rest .rest__link span {
    padding-left: 10px;
  }

  #footer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: 60%;
    max-width: auto;
    height: auto;
    background-color: #202020;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 12px;
    font-family: Roboto;
  }
  #footer .footer__link {
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: Roboto;
    font-size: 10px;
  }
  #footer .footer__logo {
    font-family: Shrikhand;
    font-size: 14px;
  }

  /* Phone resolution restaurant pages*/
  header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    max-width: 100%;
    min-width: 200px;
  }
  header #logoimg {
    width: 50%;
    max-width: 60%;
    min-width: 40%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
  header i {
    line-height: 20px;
    font-size: 13px;
  }

  .eres {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 90%;
    min-width: 200px;
    height: auto;
  }
  .eres .eres__img {
    width: 100%;
    max-width: auto;
    min-width: 191px;
    height: 100px;
    max-height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .reMenu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    width: 60%;
    max-width: 90%;
    font-size: 10px;
    font-family: Roboto;
  }
  .reMenu header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .reMenu .reMenu__eMD {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 5px;
  }
  .reMenu .reMenu__eMD div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */