* {
    box-sizing: boder-box;
    cursor: pointer;
}

        /* -------------------Variables and Mixings-------------------*/

$primary_color: #9356DC;
$seconday_color: #ff79da;
$tertiary_color:#99E2d0;

$title_font: Shrikhand, sans-serif;
$main_font: Roboto, sans-serif;

@mixin logo {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

@mixin img_size {
  object-fit: cover;
  position: center;
  max-width: 300px;
  max-height: 200px;
  padding: 15px;
}

@mixin rest_char {
}
          /*----------------- Phone Resolution ------------------*/ 

@media all and (max-width: 768px) {
  body {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    @include logo;
    justify-items: center;
    #logoimg {
      position: relative;
      max-width: 160px;
      max-height: 70px;
      height: auto;
      padding: 10px;
      align-self: center;
    }
  }

  .lOC {
    background-color: lightgray;
    line-height: 40px;
    text-align: center;
    max-width: 450px;
    font-family: $main_font;
    font-size: 14px;
    > i {
      letter-spacing: 5px;
    }
  }
  #nav {
    font-family: $main_font;
    font-size: 14px;
    background-color: #f2f2f2;
    display: block;
    padding: 15px;
    text-align: center;
    max-width: 420px;
    max-height: 200px;
    >:nth-child(1), :nth-child(3) {
      line-height: 35px;
      padding: 15px;
    &:nth-child(1) {
      font-size: 16px;
    }
    }
    }
    
  .rest {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    &__link {
      max-width: 200px;
      max-height: 300px;
      display: flex;
      > img {
       @include img_size;
       object-fit: cover;
       position: relative;
      }
    }
  }
}