* {
    box-sizing: boder-box;
    cursor: pointer;
}

$primary_color: #9356DC;
$seconday_color: #ff79da;
$tertiary_color:#99E2d0;

$title_font: 'Shrikhand';
$main_font: 'Roboto';


@media all and (max-width: 768px) {

    body {
      max-width: 768px;
      border: auto;
    }
}