* {
    box-sizing: boder-box;
    a:hover {
    cursor: pointer;
    text-decoration: none;
    }
    
}

        /* -------------------Variables and Mixings-------------------*/

$primary_color: #9356DC;
$seconday_color: #ff79da;
$tertiary_color:#99E2d0;

$title_font: Shrikhand;
$main_font: Roboto, sans-serif;

@mixin logo {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 39%;
  max-width: 90%;
  max-height: 200px;
  justify-content: center;
}

@mixin margin {
  margin-left: auto;
  margin-right: auto;
}

@mixin img_size {
  object-fit: cover;
  width: 200px;
  max-width: 200px;
  height: 100px;
  max-height: 200px;
}

          /*----------------- Phone Resolution ------------------*/ 

@media all and (max-width: 768px) {
  body {
    max-width: 768px;
    @include margin;
  }

  .logo {
    @include logo;
    @include margin;
    #logoimg {
      width: 90%;
      max-width: 100%;
      max-height: 70px;
      padding: 10px;
      justify-self: center;
    }
  }

  .lOC {
    background-color: lightgray;
    line-height: 40px;
    text-align: center;
    max-width: 90%;
    width: 60%;
    font-family: $main_font;
    font-size: 11px;
    border: 2px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include margin;
    > i {
      letter-spacing: 5px;
    }
  }
  #nav {
      font-family: $main_font;
      font-size: 11px;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-align: center;
      max-width: 90%;
      width: 60%;
      max-height: 200px;
      border: 2px solid #f2f2f2;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      @include margin;
  
      >:nth-child(1), :nth-child(3) {
        line-height: 35px;
        padding: 15px;
      &:nth-child(1) {
        font-size: 13px;
      }
     }
    }

    #exbtn {
      text-decoration: none;
      color: white;
      display: inline-block;
      border: 2px solid $primary_color;
      background-color: $primary_color;
      border-radius: 20px;
      width: 70%;
      height: 50%;
      }

  #hIW {
    @include margin;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    font-family: $main_font;
    width: 50%;
    max-width: 90%;
    max-height: auto;
    padding-top: 20px;
    list-style: numeric;
    font-size: 11px;
    line-height: 250%;
    text-decoration: none;
    padding-bottom: 20px;
      h {
      font-size: 13px;
      }
    li {
      font-size: 10px;
      text-decoration: none;
      border: 2px solid #f2f2f2;
      border-radius: 13px;
      padding: 3px;
      background-color: #f2f2f2;
      & i {
        letter-spacing: 10px;
        text-align: start;
      }
    }
  }

  
  .rest {
  @include margin;
  border-radius: 20px;
  display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    max-width: 90%;
    height: auto;
    max-height: 60%;
    padding-top: 15px;
    font-size: 10px;
    font-family: $main_font;
    background-color: #f2f2f2;
    margin-bottom: 40px;
    header {
      font-size: 13px;
      margin-left: 5%;
      margin-right: 5%;
    }
    .rest__link {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 50%;
      height: auto;
      line-height: 16px;
      margin-left: 5%;
      margin-right: 5%;
      padding: 20px;
      .rest__img {
       @include img_size;
      }
    }
  }

  #footer {
    @include margin;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 60%;
    max-width: 90%; 
    height: auto;
    background-color: #202020;
    color: white;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    font-size: 12px;
    .footer__logo {
      object-fit: cover;
      width: 40%;
      max-width: 90%;
      height: auto;
      font-family: $title_font;
      font-size: 14px;
    }
  }
}